@import "tailwindcss";

:root {
  --color-gray-light: rgb(250, 250, 250);
  --color-gray-light-two: rgb(245, 245, 245);
  --color-gray-light-three: rgb(238, 238, 238);
  --color-gray-light-hover: rgb(234, 234, 234);
  --color-text-gray: rgb(83, 83, 83);
  --color-black-opacity: rgba(0, 0, 0, 0.742);
  --color-text-gray-hover: rgb(31, 31, 31);
  --color-text-gray-hover-two: rgb(46, 46, 46);
  --color-green: RGB(126, 180, 66);
  --color-green-dark: #1a8f4a;
  --color-white-opacity: #ffffffd2;
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
}
